@import "../vendor/_defaults";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-farcry-yellow;
  height: rem(70);
  margin-top: rem(0);
  width: 100vw;
  position: relative;

  &:after {
    content: "";
    background: url("/images/assets/yellow-border-top-alt.png") repeat-x;
    position: absolute;
    display: block;
    height: rem(13);
    top: rem(-13);
    left: 0;
    width: 100vw;
  }

  &__content {
    color: $color-farcry-black;
    font-weight: 600;
    font-size: rem(15);

    & strong {
      font-weight: 800;
    }

    @include breakpoint("medium-only") {
      font-size: rem(13);
    }
  }
}
