@import "vendor/_defaults";

@keyframes chorizoLoading {
  0% {
    background-position: 0;
  }
  50% {
    background-position: -16000px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes chorizoActive {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -23500px;
  }
}

.countdown {
  display: flex;
  flex-direction: row;

  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .time {
    font-size: $global-title-size;
    color: var(--color-farcry-white);
    font-family: $global-font-title;
    font-weight: bold;
    width: rem(200);
    text-align: center;
  }

  .info {
    color: var(--color-farcry-yellow);
    font-family: $global-font-title;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem(50);
    text-align: center;
  }
}

.loading {
  width: rem(250);
  height: rem(150);
  background-image: url("/images/chorizo-sprite.png");
  animation: chorizoLoading 3s steps(64) infinite;

  &:hover {
    background-image: url("/images/chorizo-active.png");
    animation: chorizoActive 3s steps(94) infinite;
  }
}

@include breakpoint("medium-only") {
  .countdown {
    zoom: 0.7;

    .loading {
      zoom: 1.5;
    }
  }
}

@include breakpoint("small-only") {
  .countdown {
    zoom: 0.5;
  }
}
