@import "vendor/_defaults";

.select {
    font-size: rem(18);
    padding: 15px 60px 15px 15px;
    margin-top: rem(10);
    appearance: none;
    background-image: url("../../public/images/select-arrow.svg");
    background-color: var(--color-farcry-white);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    color: var(--color-farcry-black);
    border: 1px solid var(--color-farcry-black);
    border-radius: rem(5);
    
    option {
        &:first-child {
            font-weight: 500;
        }
    }
}