@import "vendor/_defaults";

.icons {
    display: flex;
    flex-direction: row;
    
    .streaming {
        margin: rem(15);
        cursor: pointer;
        
        &:hover {
           filter: brightness(0%) invert(100%);
        }
    }
}

